@import "../../../sass/variables";

.post-comments {
    .cmt-title {
        margin: 1.5rem 0;
        font-size: 30px;

        sup {
            color: $bg-grey;
            font-size: 20px;
        }
    }
    
    .comment-form {
        .form-row {
            textarea {
                height: 20rem;
                width: 100%;
                padding: 2rem;
            }
        }

        .form-row-btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn-style{
                border: none;
            }
        }
    }

}