@import "../../../sass/variables";


.blogview-sec {

    .breadcrumb {
        position: relative;

        .img-fluid {
            height: 30vh;
            width: 100%;
        }

        .title {
            position: absolute;
            top: 40%;
            left: 40%;
            font-size: 2rem;
            font-weight: bold;
        }
    }

    .boillife-nav {

        a,
        span {
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 500;
            color: $font-color;
            margin: 0 0.5rem;
        }
    }

    .single-post-contain {
        .post-content {
            .quotes {
                font-weight: bold;
            }

            .author {
                text-decoration: none;
                color: $font-color;
                font-weight: bold;
            }
        }

        .post-foot {
            .post-tags {
                .tags {
                    list-style: none;

                    .tag-link {
                        text-decoration: none;
                        color: $font-color;
                        border-radius: $border-radius-full;
                        border: 2px solid $primary-color;
                        padding: 5px 10px;
                        margin: 5px;
                        font-size: 14px;
                    }
                }

            }

            .auth-info {
                margin: 1.2rem 0;
                padding: 1.2rem 0;
                border-top: 1px solid $secondary-color;
                border-bottom: 1px solid $secondary-color;
                justify-content: space-between;

                .auth {
                    a.avatar {
                        text-decoration: none;
                        margin-right: 3rem;

                        span {
                            color: $font-color;
                            font-weight: 600;
                            margin: 0 5px;
                        }
                    }

                    .count-item {
                        margin: 0 7px;
                        color: $bg-grey;

                        .icon {
                            margin: 0 5px;
                        }
                    }
                }

                .socials-connection {
                    .title {
                        font-size: 18px;
                        margin-right: 0;
                    }

                    .social-list {
                        padding-left: 5px;
                        list-style: none;

                        .socail-link {
                            text-decoration: none;
                            color: $secondary-color;
                            border: 1px solid $bg-grey;
                            border-radius: 50%;
                            font-size: 16px;
                            padding: 5px;
                            margin: 3px;

                            &:hover {
                                color: $bg-color;
                                background-color: $primary-color;
                                border: 1px solid $primary-color;
                            }
                        }
                    }
                }
            }
        }

        .post-comments {
            .cmt-title {
                margin: 1.5rem 0;
                font-size: 30px;

                sup {
                    color: $bg-grey;
                    font-size: 20px;
                }
            }


        }
    }

    .blog-sidebar {
        .sidebar-heading {
            .main-title {
                font-size: 25px;
                font-weight: 600;
                margin: 2rem 0;
            }
        }

        .sidebar-contain {
            .search-widget {
                padding-bottom: 1.5rem;
                margin-bottom: 1.5rem;
                border-bottom: 1px solid $secondary-color;

                .search-content {
                    form {
                        input {
                            border-radius: 45px;
                            padding: 10px;
                            font-size: 16px;
                            font-weight: normal;
                            color: $bg-grey;
                        }

                        button {
                            position: absolute;
                            border: 0;
                            color: $bg-grey;
                            font-size: 20px;
                            margin: 10px;
                        }

                    }
                }
            }

            .category-widget {
                padding-bottom: 1.5rem;
                margin-bottom: 1.5rem;
                border-bottom: 1px solid $secondary-color;

                .main-title {
                    font-size: 25px;
                }

                .category-content {
                    .cat-list {
                        list-style: none;
                        padding-left: 0;

                        .cat-list-item {
                            margin: 0.5rem 0;

                            .cat-link {
                                text-decoration: none;
                                color: $font-color;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .posts-widget {
                padding-bottom: 1.5rem;
                margin-bottom: 1.5rem;
                border-bottom: 1px solid $secondary-color;

                .main-title {
                    font-size: 25px;
                }

                .post-content .posts {
                    list-style: none;
                    padding-left: 0;

                    .post-item {
                        .thumb {
                            margin-right: 10px;

                            img {
                                height: 50px;
                                width: 130px;
                            }
                        }

                        .detail {
                            align-items: baseline;

                            .post-name a {
                                text-decoration: none;
                                font-size: 16px;
                                font-weight: 600;
                                color: $font-color;
                            }

                            .post-archive {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .tweet-widget {
                padding-bottom: 1.5rem;
                margin-bottom: 1.5rem;
                border-bottom: 1px solid $secondary-color;

                .main-title {
                    font-size: 25px;
                }

                .tweet-content {
                    .content {
                        list-style: none;
                        padding-left: 0;

                        .twitter-item {
                            .author {
                                margin-right: 0.5rem;
                            }

                            .detail {
                                .account-info {
                                    .ath-name {
                                        text-decoration: none;
                                        font-size: 18px;
                                        font-weight: 600;
                                    }

                                    .ath-taglink {
                                        font-size: 14px;
                                        text-decoration: none;
                                        color: $bg-grey;
                                        font-weight: normal;
                                    }
                                }

                                .tweet-content {
                                    font-size: 16px;

                                    a {
                                        text-decoration: none;
                                        color: $primary-color;
                                    }
                                }

                                .viewall {
                                    .view-all {
                                        text-decoration: none;
                                        color: $bg-grey;

                                        &:hover {
                                            color: $primary-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .comment-widget {
                .main-title {
                    font-size: 25px;
                }

                .comment-content {
                    .comment-list {
                        list-style: none;
                        padding-left: 0;

                        .cmt-item {
                            .auth-name {
                                text-decoration: none;
                                margin-right: 10px;
                                color: $font-color;

                                &:hover {
                                    color: $primary-color;
                                }
                            }

                            .link-post {
                                text-decoration: none;
                                color: $font-color;
                                font-weight: 600;

                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}