@import "../../../sass/variables";

.special-offer-sec {
    background-color: $card-bg;

    .special_offer {
        .text-content {
                align-items: center;
                justify-content: center;
                margin-top: 25%;
        
                .sub-line {
                    font-size: 30px;
                    line-height: 40px;
                    color: $primary-color;
                    margin: 10px 0;
                }
        
                .first-line {
                    font-size: 40px;
                    line-height: 45px;
                    font-weight: 500;
                    margin: 10px;
                }
        
                .buttons {
                    margin-top: 25px;
                }
            }
    }
}
