@import "../../sass/variables";


.shopping-cart-sec {
    .shopping-cart-container {
        .box-title {
            font-size: 25px;
        }

        .shopping-cart-form {
            .shop-table {
                width: 90%;

                thead {
                    border: 1px solid $secondary-color;

                    tr th {
                        border: 1px solid $secondary-color;
                        padding: 1rem 3rem;
                        font-size: 18px;
                        font-weight: normal;
                    }
                }

                tbody {
                    .cart-item {
                        border-bottom: 1px solid $secondary-color;

                        .product-thumbnail {
                            align-items: center;

                            .action {
                                align-items: center;
                                margin-left: 1rem;

                                .prd-name {
                                    font-size: 18px;
                                    font-weight: 600;
                                    text-decoration: none;
                                    color: $font-color;
                                }

                                .edit,
                                .remove {
                                    text-decoration: none;
                                    color: $font-color;
                                    margin: 0 5px;
                                }
                            }
                        }

                        .product-price {
                            .price-contain {
                                ins {
                                    text-decoration: none;
                                    margin-right: 5px;
                                    font-weight: 600;
                                }
                            }
                        }

                        .product-quantity {
                            padding-left: 1rem;

                            .quantity-box .qty-input {
                                width: 100%;
                                background: $card-bg;
                                border-radius: 45px;
                                padding: 1rem 0.5rem;

                                input {
                                    background: transparent;
                                    flex: 1;
                                    border: 0;
                                    outline: none;
                                    padding-left: 0.5rem;
                                    font-size: 16px;
                                    width: 3rem;
                                }

                                .qty-btn {
                                    padding-right: 0.5rem;
                                    a {
                                        font-size: 18px;
                                        color: $font-color;
                                    }
                                }
                            }
                        }

                        .product-subtotal {
                            padding-left: 2rem;

                            .price-contain {
                                ins {
                                    text-decoration: none;
                                    margin-right: 5px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    .wrap-buttons {
                        margin: 2rem 0;
                    }
                }
            }
        }

        .subtotal-block {
            background-color: $card-bg;
            padding: 1rem;

            .subtotal-line {
                padding: 1rem 0;
                justify-content: space-between;
            }

            .tax-fee {
                padding: 1rem 0;
                border-bottom: 1px solid $secondary-color;

                p.title,
                p.desc {
                        margin-bottom: 0;
                        font-size: 18px;
                    }
            }

            .btn-checkout {
                padding: 1.5rem 0;
            }

            .pickup-info {
                font-size: 14px;
                margin: 1rem 0;
            }
        }
    }
}