@import "../../sass/variables";

.product-contain {

    .prod-thumb {
        .search a.lookup {
            position: absolute;
        }
    }

    .prod-info {
        max-width: 260px;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-transition: 0.2s all;
        transition: 0.2s all;

        .categories {
            font-size: 18px;
            font-weight: normal;
            color: $bg-grey;
        }

        .prod-title a {
            text-decoration: none;
            font-size: 18px;
            color: $font-color;

            &:hover {
                color: $primary-color;
            }
        }

        .price {
            ins span {
                margin: 0 5px;
                text-decoration: none;
                font-weight: bold;
                color: $font-color;
                text-decoration: none;
            }

            del span {
                color: $bg-grey;
            }
        }

        .slide-down-box {
            display: none;
            .message {
                font-size: 14px;
            }

            .wishlist-btn {
                font-size: 18px;

                &:hover {
                    color: $primary-color;
                }
            }

            .compare-btn {
                font-size: 18px;

                &:hover {
                    color: $primary-color;
                }
            }
        }

    }

    &:hover {
        .slide-down-box {
            display: block;
        }
    }


}