
$primary-color: #ffac1e;
$secondary-color: #4d4d4d;
$font-color: #0f1113;
$font-light: #fff;
$bg-color: #fff;
$border-radius: 6px;
$border-radius-full: 35px;
$border-color: transparent;
$border-color-light: #eee;
$nav-color: #292922;
$dropdown-color: #fff;
$bg-light: rgba(130, 115, 252, .05);
$bg-layer: rgb(0 0 0 / 55%);
$bg-grey: #bab8b8;
$footer-bg: #0f1113;
$card-bg: rgb(245, 245, 245);

