@import "../../sass/variables";

.navbar-sec {

    .top-header {
        padding-top: 15px;
        background-color: $primary-color;

        .topbar-left {

            .horizontal-menu {
                list-style: none;

                .horizontal-menu-item {
                    select {
                        background: transparent;
                        background-color: $primary-color;
                    }
                }

                li {
                    display: flex;
                    margin-right: 30px;
                    align-items: center;
                    border-left: 2px solid rgba(255, 255, 255, 0.33);
                    padding-left: 1rem;

                    &:first-child {
                        padding-left: 0;
                        border-left: 0;
                    }

                    a {
                        text-decoration: none;
                        color: $bg-color;

                        &:hover {
                            color: $bg-grey;
                        }

                        .icon {
                            margin-right: 10px;
                            font-size: 15px;
                        }
                    }


                }
            }
        }

        .topbar-right {
            justify-content: flex-end;
            justify-content: space-between;

            .social-list {
                list-style: none;
                border-right: 2px solid rgba(255, 255, 255, 0.33);
                padding: 0;
                margin: 0;
                padding-right: 1rem;

                li a {
                    text-decoration: none;
                    color: $bg-color;

                    &:hover {
                        color: $bg-grey;
                    }

                    .icon {
                        margin: 0 10px;
                    }
                }
            }

            .horizontal-menu {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;

                .horizontal-menu-item {
                    background: transparent;
                }

                li {
                    border-right: 2px solid rgba(255, 255, 255, 0.33);
                    margin: 0 10px;
                    padding-right: 1rem;

                    a {
                        text-decoration: none;
                        color: $bg-color;

                        &:hover {
                            color: $bg-grey;
                        }
                    }
                }

            }

        }
    }

    .main-header {
        margin: 20px 0;

        .navbar-menu {
            list-style: none;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                position: relative;
                justify-content: center;

                .nav-item .nav-link {
                    text-decoration: none;
                    color: $font-color;
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0 1rem;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .navbar-icon {

            .wishlist {
                margin: 0 15px;

                .icon {
                    font-size: 25px;
                    color: $font-color;
                }
            }

            .mincart {

                .icon {
                    font-size: 25px;
                    margin-right: 5px;
                    color: $font-color;
                }

                .title {
                    font-size: 18px;
                    font-weight: 400;
                    color: $secondary-color;
                }

                .sub-total {
                    font-size: 18px;
                    font-weight: 500;
                    color: $font-color;
                }
            }
        }

    }
}