@import "../../sass/variables";

.checkout-sec {
    .checkout-progress {
        padding: 3rem;
        .steps {
            list-style: none;

            .step-1st {
                .checkout-act {
                    .title-box {
                        font-size: 25px;

                        .number {
                            margin-right: 1rem;
                            background-color: $primary-color;
                            border-radius: 50%;
                            padding: 0 9px;
                            color: $bg-color;
                        }
                    }

                    .box-content {
                        margin: 1rem 0;
                        padding-left: 2rem;

                        .txt-desc {
                            font-size: 16px;
                            font-weight: 600;

                            .pmlink {
                                text-decoration: none;
                                color: $font-color;
                                font-weight: bold;
                            }
                        }

                        .login-checkout {
                            .form-row-one {
                                label {
                                    font-weight: bold;
                                }
                                input {
                                    margin: 1rem;
                                    padding: 5px;
                                    font-size: 16px;
                                    width: 50%;
                                }
                            }

                            .form-row-two {
                                input {
                                    margin-right: 0.5rem;
                                }
                            }

                            .msg .link-forward {
                                text-decoration: none;
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

            .step-2nd,
            .step-3rd,
            .step-4th {
                .checkout-act {
                    border-top: 1px solid $secondary-color;
                    padding: 1rem 0;

                    .title-box {
                        font-size: 25px;

                        .number {
                            margin-right: 1rem;
                            background-color: $primary-color;
                            border-radius: 50%;
                            padding: 0 9px;
                            color: $bg-color;
                        }
                    }

                }
            }
        }
    }

    .order-summary {
        background-color: $card-bg;
        padding: 1rem;
        margin-bottom: 3rem;

        .title-block {
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $secondary-color;
            padding-bottom: 1rem;

            .title {
                font-size: 18px;
            }

            .link-forward {
                text-decoration: none;
                color: $font-color;
            }
        }

        .cart-list-box {
            padding: 2rem 0;

            .cart-list {
                list-style: none;
                padding: 1rem 0;
                padding-left: 1rem;
                border-bottom: 1px solid $secondary-color;

                .cart-elem .cart-item {
                    align-items: center;
                    justify-content: space-around;

                    .info {
                        .txt-quantity {
                            font-size: 18px;
                            font-weight: 600;
                        }

                        .pr-name {
                            text-decoration: none;
                            font-size: 18px;
                            font-weight: 600;
                            color: $font-color;
                        }
                    }

                    .price-contain {
                        align-items: center;
                        ins {
                            margin-right: 10px;
                            font-size: 18px;
                            font-weight: 600;
                            text-decoration: none;
                        }

                        del {
                            font-size: 16px;
                        }
                    }
                }
            }

            .subtotal {
                list-style: none;
                padding-left: 0;
                border-bottom: 1px solid $secondary-color;
                padding-bottom: 1rem;

                .subtotal-line {
                    justify-content: space-between;
                    margin: 5px 0;

                    .link-forward {
                        text-decoration: none;
                        color: $primary-color;

                        &:hover {
                            color: $font-color;
                        }
                    }
                }
            }

            .total-price {
                justify-content: space-between;
            }
        }
    }
}