@import "../../../sass/variables";

.article-sec {
    margin: 30px 0;

    .section-heading {
        margin-top: 30px;
        margin-bottom: 15px;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: $secondary-color;
            background-color: $card-bg;
            padding: 5px 10px;
            height: 40px;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .articles-container {
        list-style: none;

        .articles-item {
            margin: 0 15px;
        }
    }
}
