@import "../../sass/variables";

.footer-sec {
    background-color: $card-bg;
    padding: 50px 0;

    .footer-item {

        .section-title {
            margin: 20px 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                .info-item .icon {
                    font-size: 20px;
                    font-weight: normal;
                    color: $secondary-color;
                    margin-right: 15px;
                }

                .info-item .desc {
                    font-size: 16px;
                    font-weight: normal;
                    color: $secondary-color;
                }

                a {
                    text-decoration: none;
                    color: $secondary-color;
                    font-size: 16px;
                    font-weight: normal;
                    margin: 5rem 0;
                }
            }


        }

        .newslatter-block {
            .form-content form {
                border-radius: 40px;
            }
        }
    }
}