@import "../../../sass/variables";

.products-sec {
    .prod-heading {
        margin-top: 15px;
        .subtitle {
            font-style: italic;
        }
    }

    .prod-categories .tab-head .tabs {
        list-style: none;
        display: flex;

        .tab-element a {
            text-decoration: none;
            color: $font-color;
            margin: 0 10px;
            font-size: 18px;
            font-weight: 500;

            &:hover {
                background: url(../../assets//images/bg_tab-v4.png) no-repeat;
                color: $bg-color;
                background-size: cover;
                padding: 5px;
            }
        }
    }

    .tab-content {
        overflow: hidden;

        .product-list {
            .product-item {
                    list-style: none;
                    margin: 0 15px;
                    position: relative;
                    box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
                    transition: 0.2s all;
                    padding: 10px;
            
            
                }
        }
    }
}