@import "../../../sass/variables";

.post-tags {
    .tags {
        list-style: none;

        .tag-link {
            text-decoration: none;
            color: $font-color;
            border-radius: $border-radius-full;
            border: 2px solid $primary-color;
            padding: 5px 10px;
            margin: 5px;
            font-size: 14px;
        }
    }

}