@import "../../../sass/variables";

.category-sec {
    border: 1px solid $secondary-color;
    border-radius: var(--border-radius);

    .menu-heading {
        background-color: $primary-color;
        padding: 10px;

        .menu-icon {
            font-size: 25px;
            color: $bg-color;
            margin-left: 10px;
            margin-right: 20px;
        }

        .menu-title {
            font-size: 18px;
            font-weight: 500;
            color: $bg-color;
            margin-right: 70px;
        }

        .menu-angle {
            font-size: 18px;
            font-weight: 500;
            color: $bg-color;
        }
    }

    .wrap-menu {
        .main-menu {
            list-style: none;

            .menu-item {
                border-bottom: 1px dotted $font-color;
                padding-bottom: 1rem;

                a {
                    text-decoration: none;
                    color: $secondary-color;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 20px;
                    align-items: center;

                    &:hover {
                        color: $primary-color;
                    }

                    .icon {
                        float: right;
                        margin: 0 0.5rem;
                    }

                }
            }
        }
    }
}