@import "../../sass/variables";

.allblog-sec {

    .breadcrumb {
            position: relative;
    
            .img-fluid {
                height: 30vh;
                width: 100%;
            }
    
            .title {
                position: absolute;
                top: 40%;
                left: 40%;
                font-size: 2rem;
                font-weight: bold;
            }
        }
    
        .boillife-nav {
    
            a,
            span {
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 500;
                color: $font-color;
                margin: 0 0.5rem;
            }
        }
        
    .page-contain {
        .post-elem .post-item {
            .post-content {
                padding: 1rem;
                .post-name a {
                    text-decoration: none;
                    color: $font-color;
                    font-size: 25px;
                }

                .post-archive {
                    font-size: 15px;
                    border-bottom: 1px solid $secondary-color;
                }

                .excerpt {
                    font-size: 16px;
                }
            }
        }
    }

    .boillife-paginations-block {
        align-items: center;
        justify-content: center;
    }
}