@import "../../../sass/variables";


.auth-sec {
    margin: 5rem 0;

    .signin-container {
        .wrap-btn {
            .btn-style {
                padding: 0.5rem 3rem;
                border: 0;
                margin-right: 1rem;
            }

            .link-to-help {
                text-decoration: none;
                color: $primary-color;

                &:hover {
                    color: $font-color;
                }
            }
        }
    }

    .register-container {
        border: 1px solid $secondary-color;
        padding: 1rem;

        .intro {
            margin: 1rem 0;
        }
    }
}