@import "../../../sass/variables";

.comment-widget {
    .main-title {
        font-size: 25px;
    }

    .comment-content {
        .comment-list {
            list-style: none;
            padding-left: 0;

            .cmt-item {
                .auth-name {
                    text-decoration: none;
                    margin-right: 10px;
                    color: $font-color;

                    &:hover {
                        color: $primary-color;
                    }
                }

                .link-post {
                    text-decoration: none;
                    color: $font-color;
                    font-weight: 600;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}